<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kewo.huda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="KEWO"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".workshop"></activity>
        <activity android:name=".internship" />
        <activity android:name=".member_bank_detail" />
        <activity android:name=".membership_about" />
        <activity android:name=".membership_form" />
        <activity android:name=".membership" />
        <activity android:name=".international" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".fb" />
        <activity android:name=".online" />
        <activity android:name=".comingsoon" />
        <activity android:name=".social" />
        <activity android:name=".guest" />
        <activity android:name=".profile" />
        <activity android:name=".JobForm" />
        <activity android:name=".JobDetail" />
        <activity android:name=".JobActivity" />
        <activity android:name=".job" />
        <activity android:name=".CourseForm" />
        <activity android:name=".CourseDetail" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".gallery" />
        <activity android:name=".category" />
        <activity android:name=".course" />
        <activity android:name=".signup" />
        <activity android:name=".signin" />
        <activity android:name=".home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider743415416485689"
            android:exported="true" />
    </application>

</manifest>